SECRET_KEY: "{change}"
MAIL_SERVER: "smtp.gmail.com"
MAIL_PORT: "587"
MAIL_USE_TLS: "True"
MAIL_FROM: "{change}"
MAIL_TO: "{change}"
MAIL_PASSWORD: "{change}"
GCLOUD_PROJECT: "{change}"
FLASK_ENV: "production"
SENDGRID_API_KEY: "{change}"