{% extends "layout.html" %}

{% block title %}Home | Nearby Plumbing{% endblock %}

{% block content %}
   <!-- <h1 class="text-center">Welcome to Nearby Plumbing!</h1>
   <h3 class="text-center">Your trusted local plumbing experts, serving our community with quality workmanship and exceptional customer service.</h3></p>Whether you need a quick repair, a remodel, or new construction plumbing, we're here to help. Contact us today for all your plumbing needs!</p>
    -->
   <section id="hero" class="bg-gray-900 text-black py-20 px-6 text-center">
      <div>
        <h1 class="text-4xl md:text-5xl font-bold mb-4">Reliable Plumbing in St. Francis, MN</h1>
        <p class="text-lg mb-6">Nearby Plumbing is a local, veteran, family owned business servicing St. Francis and the surrounding communities. Focused on providing high quality professional plumbing services and delivering exceptional customer experiences. With nearly a decade of experience in the industry, ranging from residential to commercial, there's no job too big or too small. Call Nearby Plumbing today for all your plumbing needs!</p>
      </div>
      <div class="flex justify-center gap-4">
         <a href="tel:9529059544" class="btn btn-primary btn-lg">Call Now</a>
         <a href="contact" class="btn btn-outline-primary btn-lg">Request Service</a>
      </div>
   </section>
    <!-- <section id="services" class="py-16 px-6 bg-gray-50">
    <div class="max-w-5xl mx-auto grid md:grid-cols-3 gap-8">
      <div>
        <h3 class="font-semibold text-lg mb-2">Repairs</h3>
        <p>Leaks, pipes, and everyday plumbing problems handled quickly.</p>
      </div>
      <div>
        <h3 class="font-semibold text-lg mb-2">Drain Cleaning</h3>
        <p>Clogs cleared safely without damaging your system.</p>
      </div>
      <div>
        <h3 class="font-semibold text-lg mb-2">Water Heaters</h3>
        <p>Repair or replacement for reliable hot water year-round.</p>
      </div>
      <div>
        <h3 class="font-semibold text-lg mb-2">Installations</h3>
        <p>Fixtures and upgrades done cleanly and efficiently.</p>
      </div>
      <div>
        <h3 class="font-semibold text-lg mb-2">Emergency Service</h3>
        <p>Fast response when problems can’t wait.</p>
      </div>
    </div>
  </section> -->
{% endblock %}
