<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nearby Plumbing{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="theme-color" content="#043c91ff">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body id="top">
    <nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
        <div class="container"> <a class="navbar-brand d-md-none" href="/"> <img src="/static/images/nearby_logo.jpg" class="d-block mb-2" style="max-width: 30px;"></img>
            </a> <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                aria-controls="offcanvas" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
                <div class="offcanvas-body">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link" href="/"><img src="/static/images/nearby_logo.jpg" class="d-block mb-2" style="max-width: 45px;"></img></a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto align-items-center">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('services') }}">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('offers') }}">Special Offers</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="/team">The Team</a></?li> -->
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <main class="container my-4">
        <div class="row">
            <!-- Left ad column: hidden on small screens -->
            <aside class="col-12 col-md-3 col-lg-2 d-none d-md-block">
                <!-- <div class="ad-slot text-center">
                    Replace with real ad code when ready 
                    <small>Ad space</small>
                </div> -->
            </aside> 

            <!-- Main content column: centered on page -->
            <div class="col-12 col-md-9 col-lg-8">
                <div class="content-center">
                    <div class="d-flex justify-content-center">
                        <img src="/static/images/nearby_logo.jpg" class="img-fluid" style="max-width: 100%;" alt="Logo">
                    </div>
                    {% block content %}{% endblock %}
                    {# keep backward-compatible block name if some templates use 'main' #}
                    {% block main %}{% endblock %}
                </div>
            </div>

            <!-- Right ad column: hidden on small screens -->
            <!-- <aside class="col-12 col-md-3 col-lg-2 d-none d-md-block">
                <div class="ad-slot text-center">
                    <small>Ad space</small>
                </div>
            </aside> -->
        </div>
    </main>

    <footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md"> <img src="/static/images/nearby_logo.jpg" class="d-block mb-2" style="max-width: 100px;">
                    <title>Product</title>
            </img>
                <small class="d-block mb-3 text-body-secondary">&copy; Nearby Plumbing</small>
                <small class="d-block mb-3 text-body-secondary">Est. 2026</small>
                <small class="d-block mb-3 text-body-secondary">Powered by Lannon Technologies</small>
            </div>
            <div class="col-6 col-xl">
                <h5>License Information</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary text-decoration-none">License Number</a></li>
                </ul>
            </div>
            <div class="col-6 col-xl">
                <h5>Contact</h5>
                <ul class="list-unstyled text-small">
                    <li>Phone: <a class="link-secondary text-decoration-underline" href="tel:9529059544">(952) 905-9544</a></li>
                    <li>Email: <a class="link-secondary text-decoration-underline" href="mailto:nearbymnplumbing@gmail.com">nearbymnplumbing@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-6 col-xl">
                <h5>Hours of Operation</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary text-decoration-none" href="#">M-F: 8AM - 6PM</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script> -->

    {% block scripts %}{% endblock %}
</body>

</html>
