{% extends "layout.html" %}

{% block main %}
<div class="container py-5">
    <h1 class="mb-4">Meet the Team</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="/static/images/team/john_doe.jpg" class="card-img-top" alt="David">
                <div class="card-body">
                    <h5 class="card-title">David</h5>
                    <p class="card-text">Nearby Plumbing is a local, veteran, family owned business servicing St.
      Francis and the surrounding communities. Focused on providing high quality
      professional plumbing services and delivering exceptional customer
      experiences. With nearly a decade of experience in the industry, ranging
      from residential to commercial, there's no job too big or too small. Call
      Nearby Plumbing today for all your plumbing needs!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}